<head>
    <link rel="stylesheet" href="//static.thanhnien.vn/v3/App_Themes/css/TNO_fixplayer-w.css?1">
    <script src="https://www.google.com/recaptcha/api.js?render=6LeeTowUAAAAABMbhzdzhc-NFn_89M69okIeT0Nx&amp;hl=vi" async="" defer=""></script>
    <script src="https://static.thanhnien.vn/v3/Jscripts/tno.min.js?1.7"></script>
    <script src="https://static.thanhnien.vn/v3/Jscripts/master.js?3.0"></script>
    <script type="text/javascript" src="//static.thanhnien.vn/v3/Jscripts/log.min.js?1"></script>
    <script type="text/javascript">logging('0', '-1', 1);</script>
    <script type="text/javascript">
        var sMode = '0';
        var sTime = '';
        var sCate = '0';
        var sType = '-1';
        var sOrder = '';
        var sRoot = "/tin-tuc/tim-kiem/dGluIGNvdmlk/tin-covid.html";
        var subPath = '';
    </script>
    <script type="text/javascript" src="//static.thanhnien.vn/v3/Jscripts/search.js?1.0"></script>
    <script type="text/javascript" src="https://static.thanhnien.vn/v3/Jscripts/profile.js?1.8"></script>
    <script async="" src="https://cdn.onthe.io/io.js/Et5BLNwqiW2L"></script>
    <script type="text/javascript" src="https://static.thanhnien.vn/v3/Jscripts/profile.js?1.8"></script>
</head>
<div class="full-content">
    <div class="search--input">
        <div class="search-form">
            <input id="txtsearchmain" class="form-control" placeholder="Từ khóa tìm kiếm" value="tin covid">
            <button type="button" class="btn" id="btnsearchmain"><i class="icon-magnifier"></i></button>
        </div>
    </div>
    <div class="search--filter">
        <div class="search--filter__opt">
            <h4>Tìm kiếm theo</h4>
            <ul>
                <li class="rdsearchmode"><p><input type="radio" name="rdsearchmode" id="rdsearchmode0" value="0" checked="checked"><label for="rdsearchmode0">Tiêu đề</label></p></li>
                <li class="rdsearchmode"><p><input type="radio" name="rdsearchmode" id="rdsearchmode1" value="1"><label for="rdsearchmode1">Nội dung</label></p></li>
                <li class="rdsearchmode"><p><input type="radio" name="rdsearchmode" id="rdsearchmode2" value="2"><label for="rdsearchmode2">Tác giả</label></p></li>
            </ul>
        </div>
        <div class="search--filter__opt">
            <h4>Lọc bài viết theo</h4>
            <ul>
                <li>
                    <ul>
                        <li class="label"><span>Thời gian</span></li>
                        <li class="selected lssearchtime"><a href="javascript:void(0);" rel="">Tất cả</a></li>
                        <li class="lssearchtime"><a href="javascript:void(0);" rel="d">1 ngày qua</a></li>
                        <li class="lssearchtime"><a href="javascript:void(0);" rel="w">1 tuần qua</a></li>
                        <li class="lssearchtime"><a href="javascript:void(0);" rel="m">1 tháng qua</a></li>
                        <li class="lssearchtime"><a href="javascript:void(0);" rel="y">1 năm qua</a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="label"><span>Chuyên mục</span></li>
                        <li class="lssearchcate selected"><a href="javascript:void(0);" rel="0">Tất cả <span>( 42 )</span></a></li>
                        <li class="lssearchcate"><a href="javascript:void(0);" rel="12">Công nghệ <span>( 5 )</span></a></li>
                        <li class="lssearchcate"><a href="javascript:void(0);" rel="66">Thế giới <span>( 4 )</span></a></li>
                        <li class="lssearchcate"><a href="javascript:void(0);" rel="4">Thời sự <span>( 2 )</span></a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="label"><span>Thể loại</span></li>
                        <li class="lssearchtype selected"><a href="javascript:void(0);" rel="-1">Tất cả</a></li>
                        <li class="lssearchtype"><a href="javascript:void(0);" rel="0">Bài viết</a></li>
                        <li class="lssearchtype"><a href="javascript:void(0);" rel="4">Ảnh</a></li>
                        <li class="lssearchtype"><a href="javascript:void(0);" rel="1">Video</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>	<!-- end search--filter -->
    <div class="search--result">
        <div class="search--result__heading">
            <div class="row">
                <div class="col-6">
                    <h4>Tìm thấy 42 kết quả về <b>tin covid</b></h4>
                </div>
                <div class="col-6">
                    <div class="option label">
                        <span>Sắp xếp theo</span>
                        <select class="form-control" id="lssearchorder">
                            <option value="latest">Mới nhất</option>
                            <option value="" selected="selected">Liên quan</option>
                        </select>
                    </div>
                </div>         
            </div>
        </div>
        <div class="zone--timeline">
            <div class="relative">
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-138-3-benh-nhan-tu-vong-dau-long-giay-phut-chia-ly-giua-dai-dich-152525.html" title="Tổng hợp tin Covid-19 ngày 13.8: 3 bệnh nhân tử vong, đau lòng giây phút chia ly giữa đại dịch" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_13/tin-tong-hop-covid-19-toi-138-15973214533021615228438_zpnw.jpg" alt="Tổng hợp tin Covid-19 ngày 13.8: 3 bệnh nhân tử vong, đau lòng giây phút chia ly giữa đại dịch" class="loaded" src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_13/tin-tong-hop-covid-19-toi-138-15973214533021615228438_zpnw.jpg" data-was-processed="true"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-138-3-benh-nhan-tu-vong-dau-long-giay-phut-chia-ly-giua-dai-dich-152525.html" title="Tổng hợp tin Covid-19 ngày 13.8: 3 bệnh nhân tử vong, đau lòng giây phút chia ly giữa đại dịch" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 13.8: 3 bệnh nhân tử vong, đau lòng giây phút chia ly giữa đại dịch</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597348800000">1 tiếng trước</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 13.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý liên quan đến tình hình điều trị cho các bệnh nhân và thông tin về cuộc chiến chống Covid-19 tại Việt Nam.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-138-mot-ngay-them-25-ca-benh-va-3-nguoi-tu-vong-152528.html" title="Bản tin Covid-19 ngày 13.8: Một ngày thêm 25 ca bệnh và 3 người tử vong" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/mynny/2020_08_13/thumbnailbantincovid-19ngay138_cddy.jpg" alt="Bản tin Covid-19 ngày 13.8: Một ngày thêm 25 ca bệnh và 3 người tử vong" class="loaded" src="https://image.thanhnien.vn/150x100/uploaded/mynny/2020_08_13/thumbnailbantincovid-19ngay138_cddy.jpg" data-was-processed="true"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-138-mot-ngay-them-25-ca-benh-va-3-nguoi-tu-vong-152528.html" title="Bản tin Covid-19 ngày 13.8: Một ngày thêm 25 ca bệnh và 3 người tử vong" class="story__title">Bản <span>tin Covid</span>-19 ngày 13.8: Một ngày thêm 25 ca bệnh và 3 người tử vong</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597345200000">2 tiếng trước</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div><a href="https://thanhnien.vn/thoi-su/tinh-hinh-covid-19-tai-viet-nam-ngay-128-tung-buoc-kiem-soat-dich-buoc-tien-phat-trien-vacxin-1264660.html" rel="">Bản <span>tin Covid</span>-19</a>&nbsp;của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus. Biên tập viên Trúc Huỳnh sẽ cùng đồng hành cùng quý vị trong bản tin hôm nay 13.8.</div></div></div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-128-benh-nhan-thu-17-tu-vong-them-17-ca-benh-moi-152493.html" title="Tổng hợp tin Covid-19 ngày 12.8: Bệnh nhân thứ 17 tử vong, thêm 17 ca bệnh mới" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_12/thumbnail-tong-hop-ban-tin-128-15972332244721189724010_scfv.jpg" alt="Tổng hợp tin Covid-19 ngày 12.8: Bệnh nhân thứ 17 tử vong, thêm 17 ca bệnh mới" class="loaded" src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_12/thumbnail-tong-hop-ban-tin-128-15972332244721189724010_scfv.jpg" data-was-processed="true"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-128-benh-nhan-thu-17-tu-vong-them-17-ca-benh-moi-152493.html" title="Tổng hợp tin Covid-19 ngày 12.8: Bệnh nhân thứ 17 tử vong, thêm 17 ca bệnh mới" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 12.8: Bệnh nhân thứ 17 tử vong, thêm 17 ca bệnh mới</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597262400000">20:00, 12/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 12.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý liên quan đến tình hình điều trị cho các bệnh nhân và thông tin về cuộc chiến chống Covid-19 tại Việt Nam.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-108-dich-benh-dang-tung-buoc-duoc-kiem-soat-152487.html" title="Bản tin Covid-19 ngày 12.8: Hà Nội phát hiện bệnh nhân không rõ lây từ đâu" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_12/thumbnailbantincovid-19ngay128_yzfx.jpg" alt="Bản tin Covid-19 ngày 12.8: Hà Nội phát hiện bệnh nhân không rõ lây từ đâu" class="loaded" src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_12/thumbnailbantincovid-19ngay128_yzfx.jpg" data-was-processed="true"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-108-dich-benh-dang-tung-buoc-duoc-kiem-soat-152487.html" title="Bản tin Covid-19 ngày 12.8: Hà Nội phát hiện bệnh nhân không rõ lây từ đâu" class="story__title">Bản <span>tin Covid</span>-19 ngày 12.8: Hà Nội phát hiện bệnh nhân không rõ lây từ đâu</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597258800000">19:00, 12/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản <span>tin Covid</span>-19 của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus với nhiều thông tin đáng chú ý.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-118-benh-nhan-thu-16-tu-vong-them-16-ca-mac-moi-152442.html" title="Tổng hợp tin Covid-19 ngày 11.8: Bệnh nhân thứ 16 tử vong, thêm 16 ca mắc mới" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_11/tong-hop-tin-covid-19-ngay-11-8-1597151052951141686251_paho.jpg" alt="Tổng hợp tin Covid-19 ngày 11.8: Bệnh nhân thứ 16 tử vong, thêm 16 ca mắc mới" class="loaded" src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_11/tong-hop-tin-covid-19-ngay-11-8-1597151052951141686251_paho.jpg" data-was-processed="true"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-118-benh-nhan-thu-16-tu-vong-them-16-ca-mac-moi-152442.html" title="Tổng hợp tin Covid-19 ngày 11.8: Bệnh nhân thứ 16 tử vong, thêm 16 ca mắc mới" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 11.8: Bệnh nhân thứ 16 tử vong, thêm 16 ca mắc mới</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597176608520">20:10, 11/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 11.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý liên quan đến tình hình điều trị cho các bệnh nhân và thông tin về cuộc chiến chống Covid-19 tại Việt Nam.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-118-viet-nam-them-16-ca-benh-nga-cong-bo-co-vac-xin-dau-tien-tren-the-gioi-152436.html" title="Bản tin Covid-19 ngày 11.8: Việt Nam thêm 16 ca bệnh, Nga công bố có vắc xin đầu tiên trên thế giới" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/mynny/2020_08_11/thumbnail118_wjzn.png" alt="Bản tin Covid-19 ngày 11.8: Việt Nam thêm 16 ca bệnh, Nga công bố có vắc xin đầu tiên trên thế giới" class="loaded" src="https://image.thanhnien.vn/150x100/uploaded/mynny/2020_08_11/thumbnail118_wjzn.png" data-was-processed="true"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-118-viet-nam-them-16-ca-benh-nga-cong-bo-co-vac-xin-dau-tien-tren-the-gioi-152436.html" title="Bản tin Covid-19 ngày 11.8: Việt Nam thêm 16 ca bệnh, Nga công bố có vắc xin đầu tiên trên thế giới" class="story__title">Bản <span>tin Covid</span>-19 ngày 11.8: Việt Nam thêm 16 ca bệnh, Nga công bố có vắc xin đầu tiên trên thế giới</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597172400000">19:00, 11/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div><a href="https://thanhnien.vn/thoi-su/tinh-hinh-covid-19-tai-viet-nam-ngay-108-ngan-dich-benh-bung-no-dien-rong-1263642.html" rel="">Bản <span>tin Covid</span>-19 </a>của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus. Biên tập viên Mai Phương sẽ cùng đồng hành cùng quý vị trong bản tin hôm nay 11.8.</div></div></div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-108-them-benh-nhan-tu-vong-ghi-nhan-6-ca-mac-moi-trong-ngay-152394.html" title="Tổng hợp tin Covid-19 ngày 10.8: Thêm bệnh nhân tử vong, ghi nhận 6 ca mắc mới trong ngày" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_10/thumbnail-tong-hop-ban-tin-108-15970623084721218599453_inpn.jpg" alt="Tổng hợp tin Covid-19 ngày 10.8: Thêm bệnh nhân tử vong, ghi nhận 6 ca mắc mới trong ngày"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-108-them-benh-nhan-tu-vong-ghi-nhan-6-ca-mac-moi-trong-ngay-152394.html" title="Tổng hợp tin Covid-19 ngày 10.8: Thêm bệnh nhân tử vong, ghi nhận 6 ca mắc mới trong ngày" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 10.8: Thêm bệnh nhân tử vong, ghi nhận 6 ca mắc mới trong ngày</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597089600000">20:00, 10/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 10.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý liên quan đến tình hình điều trị cho các bệnh nhân và thông tin về cuộc chiến chống Covid-19 tại Việt Nam.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-108-ket-thuc-ky-thi-tot-nghiep-thpt-giua-dai-dich-152374.html" title="Bản tin Covid-19 ngày 10.8: Kết thúc kỳ thi tốt nghiệp THPT giữa đại dịch " class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_10/bantinngay108_boph.jpg" alt="Bản tin Covid-19 ngày 10.8: Kết thúc kỳ thi tốt nghiệp THPT giữa đại dịch "></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-108-ket-thuc-ky-thi-tot-nghiep-thpt-giua-dai-dich-152374.html" title="Bản tin Covid-19 ngày 10.8: Kết thúc kỳ thi tốt nghiệp THPT giữa đại dịch " class="story__title">Bản <span>tin Covid</span>-19 ngày 10.8: Kết thúc kỳ thi tốt nghiệp THPT giữa đại dịch </a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597086000000">19:00, 10/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản <span>tin Covid</span>-19 của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus với nhiều thông tin đáng chú ý.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-98-benh-nhan-thu-11-tu-vong-them-31-ca-mac-moi-152325.html" title="Tổng hợp tin Covid-19 ngày 9.8: Bệnh nhân thứ 11 tử vong, thêm 31 ca mắc mới" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_09/tong-hop-tin-covid-19-ngay-98-1596975021323725002931_lcjx.jpg" alt="Tổng hợp tin Covid-19 ngày 9.8: Bệnh nhân thứ 11 tử vong, thêm 31 ca mắc mới"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-98-benh-nhan-thu-11-tu-vong-them-31-ca-mac-moi-152325.html" title="Tổng hợp tin Covid-19 ngày 9.8: Bệnh nhân thứ 11 tử vong, thêm 31 ca mắc mới" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 9.8: Bệnh nhân thứ 11 tử vong, thêm 31 ca mắc mới</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1597003200000">20:00, 09/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 9.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý liên quan kỳ thi tốt nghiệp THPT trong tình hình dịch bệnh và thông tin về cuộc chiến chống Covid-19 tại Việt Nam.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-98-them-1-ca-tu-vong-doc-suc-chan-lay-nhiem-cong-dong-152334.html" title="Bản tin Covid-19 ngày 9.8: Thêm 1 ca tử vong, dốc sức chặn lây nhiễm cộng đồng" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/mynny/2020_08_09/thumb98_nadc.png" alt="Bản tin Covid-19 ngày 9.8: Thêm 1 ca tử vong, dốc sức chặn lây nhiễm cộng đồng"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-98-them-1-ca-tu-vong-doc-suc-chan-lay-nhiem-cong-dong-152334.html" title="Bản tin Covid-19 ngày 9.8: Thêm 1 ca tử vong, dốc sức chặn lây nhiễm cộng đồng" class="story__title">Bản <span>tin Covid</span>-19 ngày 9.8: Thêm 1 ca tử vong, dốc sức chặn lây nhiễm cộng đồng</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596999600000">19:00, 09/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div>Bản <span>tin Covid</span>-19 của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus với nhiều thông tin đáng chú ý.</div></div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-88-mot-ngay-them-26-ca-benh-them-dia-phuong-moi-lay-nhiem-cong-dong-152298.html" title="Tổng hợp tin Covid-19 ngày 8.8: Một ngày thêm 26 ca bệnh, thêm địa phương mới lây nhiễm cộng đồng" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_08/tong-hop-tin-dich-benh-covid-19-ngay-88-1596888838559262428739_dlab.jpg" alt="Tổng hợp tin Covid-19 ngày 8.8: Một ngày thêm 26 ca bệnh, thêm địa phương mới lây nhiễm cộng đồng"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-88-mot-ngay-them-26-ca-benh-them-dia-phuong-moi-lay-nhiem-cong-dong-152298.html" title="Tổng hợp tin Covid-19 ngày 8.8: Một ngày thêm 26 ca bệnh, thêm địa phương mới lây nhiễm cộng đồng" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 8.8: Một ngày thêm 26 ca bệnh, thêm địa phương mới lây nhiễm cộng đồng</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596916800000">20:00, 08/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 8.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý liên quan đến công tác chuẩn bị cho kỳ thi tốt nghiệp THPT trong tình hình dịch bệnh và thông tin truy vết các bệnh nhân Covid-19 của Việt Nam.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-88-them-nhieu-ca-benh-moi-hoi-hop-voi-ky-thi-sat-dinh-dich-152295.html" title="Bản tin Covid-19 ngày 8.8: Thêm nhiều ca bệnh mới, hồi hộp với kỳ thi sát đỉnh dịch" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_08/thumbnailbantincovid-19ngay88_chsa.jpg" alt="Bản tin Covid-19 ngày 8.8: Thêm nhiều ca bệnh mới, hồi hộp với kỳ thi sát đỉnh dịch"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-88-them-nhieu-ca-benh-moi-hoi-hop-voi-ky-thi-sat-dinh-dich-152295.html" title="Bản tin Covid-19 ngày 8.8: Thêm nhiều ca bệnh mới, hồi hộp với kỳ thi sát đỉnh dịch" class="story__title">Bản <span>tin Covid</span>-19 ngày 8.8: Thêm nhiều ca bệnh mới, hồi hộp với kỳ thi sát đỉnh dịch</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596913200000">19:00, 08/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản <span>tin Covid</span>-19 của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus với nhiều thông tin đáng chú ý.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-78-benh-dich-lan-rong-them-nhieu-ca-benh-dang-nguy-kich-152260.html" title="Tổng hợp tin Covid-19 ngày 7.8: Bệnh dịch lan rộng thêm, nhiều ca bệnh đang nguy kịch" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/ngocltd/2020_08_07/tin-tong-hop-covid-19-ngay-78-1596804184155871276751_okbw.jpg" alt="Tổng hợp tin Covid-19 ngày 7.8: Bệnh dịch lan rộng thêm, nhiều ca bệnh đang nguy kịch"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-ngay-78-benh-dich-lan-rong-them-nhieu-ca-benh-dang-nguy-kich-152260.html" title="Tổng hợp tin Covid-19 ngày 7.8: Bệnh dịch lan rộng thêm, nhiều ca bệnh đang nguy kịch" class="story__title">Tổng hợp <span>tin Covid</span>-19 ngày 7.8: Bệnh dịch lan rộng thêm, nhiều ca bệnh đang nguy kịch</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596830400000">20:00, 07/08/2020</time>
                        <span><i class="icon-bubble"></i>1</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp Covid-19 ngày 7.8.2020 của Truyền hình Báo Thanh Niên có nhiều thông tin đáng chú ý.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-78-them-benh-nhan-moi-cuoc-chien-chong-dich-bat-dau-thoi-ky-cao-diem-152255.html" title="Bản tin Covid-19 ngày 7.8: Một ngày thêm 37 ca mới, cuộc chiến bắt đầu thời kỳ cao điểm" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/dangsinh/2020_08_07/thumbnail78_ofed.png" alt="Bản tin Covid-19 ngày 7.8: Một ngày thêm 37 ca mới, cuộc chiến bắt đầu thời kỳ cao điểm"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-78-them-benh-nhan-moi-cuoc-chien-chong-dich-bat-dau-thoi-ky-cao-diem-152255.html" title="Bản tin Covid-19 ngày 7.8: Một ngày thêm 37 ca mới, cuộc chiến bắt đầu thời kỳ cao điểm" class="story__title">Bản <span>tin Covid</span>-19 ngày 7.8: Một ngày thêm 37 ca mới, cuộc chiến bắt đầu thời kỳ cao điểm</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596826800000">19:00, 07/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div><a href="https://thanhnien.vn/thoi-su/tinh-hinh-covid-19-tai-viet-nam-ngay-68-du-bao-so-ca-benh-tang-nhanh-1261460.html" rel="">Bản <span>tin Covid</span>-19 </a> của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus. Biên tập viên Mai Phương sẽ đồng hành cùng quý khán giả trong bản tin hôm nay 7.8.</div></div></div>
                </article>
                <article class="story">
                    <a href="/cong-nghe/facebook-loai-bo-tai-khoan-ung-ho-tong-thong-ao-va-gia-mao-thong-tin-covid-19-1262082.html" title="Facebook loại bỏ tài khoản ủng hộ tổng thống ảo và giả mạo thông tin Covid-19" class="story__thumb"><img data-src="https://image.thanhnien.vn/150x100/uploaded/nthanhluan/2020_08_07/nhu_gyuh.png" alt="Facebook loại bỏ tài khoản ủng hộ tổng thống ảo và giả mạo thông tin Covid-19"></a>
                    <h2><a href="/cong-nghe/facebook-loai-bo-tai-khoan-ung-ho-tong-thong-ao-va-gia-mao-thong-tin-covid-19-1262082.html" title="Facebook loại bỏ tài khoản ủng hộ tổng thống ảo và giả mạo thông tin Covid-19" class="story__title">Facebook loại bỏ tài khoản ủng hộ tổng thống ảo và giả mạo thông <span>tin Covid</span>-19</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596799543737">11:25, 07/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div>Cuộc truy quét lần này của <a href="https://thanhnien.vn/gioi-tre/the-gioi-mang/" rel="">mạng xã hội</a> Facebook đang nhắm vào những hành vi giả mạo có quy mô và không có nội dung cụ thể.</div></div></div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-tai-viet-nam-ngay-68-them-34-benh-nhan-moi-2-ca-tu-vong-152214.html" title="Tổng hợp tin Covid-19 tại Việt Nam ngày 6.8: Thêm 34 bệnh nhân mới, 2 ca tử vong" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_06/tong-hop-covid-19-ngay-68-15967183861641451963510_majj.jpg" alt="Tổng hợp tin Covid-19 tại Việt Nam ngày 6.8: Thêm 34 bệnh nhân mới, 2 ca tử vong"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/tong-hop-tin-covid-19-tai-viet-nam-ngay-68-them-34-benh-nhan-moi-2-ca-tu-vong-152214.html" title="Tổng hợp tin Covid-19 tại Việt Nam ngày 6.8: Thêm 34 bệnh nhân mới, 2 ca tử vong" class="story__title">Tổng hợp <span>tin Covid</span>-19 tại Việt Nam ngày 6.8: Thêm 34 bệnh nhân mới, 2 ca tử vong</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596744380497">20:06, 06/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản tin tổng hợp tình hình dịch Covid-19 tại Việt Nam ngày 6.8 có nhiều thông tin đáng chú ý.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-68-se-co-hang-chuc-ca-nhiem-moi-ngay-nhieu-benh-nhan-dang-nguy-kich-152171.html" title="Bản tin Covid-19 ngày 6.8: Sẽ có hàng chục ca nhiễm mỗi ngày, nhiều bệnh nhân đang nguy kịch" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_06/thumbnailbantincovid-19ngay68_qeib.jpg" alt="Bản tin Covid-19 ngày 6.8: Sẽ có hàng chục ca nhiễm mỗi ngày, nhiều bệnh nhân đang nguy kịch"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-68-se-co-hang-chuc-ca-nhiem-moi-ngay-nhieu-benh-nhan-dang-nguy-kich-152171.html" title="Bản tin Covid-19 ngày 6.8: Sẽ có hàng chục ca nhiễm mỗi ngày, nhiều bệnh nhân đang nguy kịch" class="story__title">Bản <span>tin Covid</span>-19 ngày 6.8: Sẽ có hàng chục ca nhiễm mỗi ngày, nhiều bệnh nhân đang nguy kịch</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596740400000">19:00, 06/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-18-them-ca-benh-tu-vong-lay-nhiem-cong-dong-rat-phuc-tap-151952.html" rel="">Bản <span>tin Covid</span>-19 </a> của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên, Fanpage Facebook Báo Thanh Niên và trang Báo Thanh Niên trên <a href="https://thanhnien.vn/gioi-tre/the-gioi-mang/" rel="">mạng xã hội</a> <a href="https://thanhnien.vn/tin-tuc/lotus.html" rel="">Lotus</a>.&nbsp;</div></div></div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-58-them-41-ca-benh-lay-nhiem-cong-dong-lan-ra-nhieu-tinh-thanh-152158.html" title="Bản tin Covid-19 ngày 5.8: Thêm 41 ca bệnh, lây nhiễm cộng đồng lan ra nhiều tỉnh thành" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/dangsinh/2020_08_05/thumbnail58_fyqb.png" alt="Bản tin Covid-19 ngày 5.8: Thêm 41 ca bệnh, lây nhiễm cộng đồng lan ra nhiều tỉnh thành"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-58-them-41-ca-benh-lay-nhiem-cong-dong-lan-ra-nhieu-tinh-thanh-152158.html" title="Bản tin Covid-19 ngày 5.8: Thêm 41 ca bệnh, lây nhiễm cộng đồng lan ra nhiều tỉnh thành" class="story__title">Bản <span>tin Covid</span>-19 ngày 5.8: Thêm 41 ca bệnh, lây nhiễm cộng đồng lan ra nhiều tỉnh thành</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596654000000">19:00, 05/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-48-than-toc-cuong-quyet-don-moi-nguon-luc-xu-ly-triet-de-o-dich-152101.html" rel="">Bản <span>tin Covid</span>-19</a> của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên và kênh Báo Thanh Niên trên <a href="https://thanhnien.vn/gioi-tre/the-gioi-mang/" rel="">mạng xã hội</a> Lotus. Biên tập viên Trúc Huỳnh sẽ đồng hành cùng quý khán giả trong bản tin hôm nay 5.8.</div></div></div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-48-than-toc-cuong-quyet-don-moi-nguon-luc-xu-ly-triet-de-o-dich-152101.html" title="Bản tin Covid-19 ngày 4.8: Thần tốc, cương quyết, dồn mọi nguồn lực xử lý triệt để “ổ dịch”" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/dangsinh/2020_08_04/thumbnailbantincovid-19ngay48_nzit.jpg" alt="Bản tin Covid-19 ngày 4.8: Thần tốc, cương quyết, dồn mọi nguồn lực xử lý triệt để “ổ dịch”"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-48-than-toc-cuong-quyet-don-moi-nguon-luc-xu-ly-triet-de-o-dich-152101.html" title="Bản tin Covid-19 ngày 4.8: Thần tốc, cương quyết, dồn mọi nguồn lực xử lý triệt để “ổ dịch”" class="story__title">Bản <span>tin Covid</span>-19 ngày 4.8: Thần tốc, cương quyết, dồn mọi nguồn lực xử lý triệt để “ổ dịch”</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596567600000">19:00, 04/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary">Bản <span>tin Covid</span>-19 của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên, Fanpage Facebook Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus. Biên tập viên Mai Phương sẽ đồng hành cùng quý vị trong bản tin hôm nay.</div>
                </article>
                <article class="story">
                    <a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-38-nhung-ngay-quyet-dinh-cuoc-chien-chong-dich-152037.html" title="Bản tin Covid-19 ngày 3.8: Những ngày quyết định cuộc chiến chống dịch" class="story__thumb"><span class="video-icon"><i class="triangle"></i></span><img data-src="https://image.thanhnien.vn/150x100/uploaded/phuongmq/2020_08_03/thumbnailbantincovid-1938_qjif.jpg" alt="Bản tin Covid-19 ngày 3.8: Những ngày quyết định cuộc chiến chống dịch"></a>
                    <h2><a href="https://thanhnien.vn/video/thoi-su/ban-tin-covid-19-ngay-38-nhung-ngay-quyet-dinh-cuoc-chien-chong-dich-152037.html" title="Bản tin Covid-19 ngày 3.8: Những ngày quyết định cuộc chiến chống dịch" class="story__title">Bản <span>tin Covid</span>-19 ngày 3.8: Những ngày quyết định cuộc chiến chống dịch</a></h2>
                    <div class="meta">
                        <time class="timebox done" rel="1596481200000">19:00, 03/08/2020</time>
                        <span><i class="icon-bubble"></i>0</span>
                    </div>
                    <div class="summary"><div><div>Bản tin <a href="https://thanhnien.vn/thoi-su/tinh-hinh-covid-19-tai-viet-nam-ngay-307-lay-nhiem-cong-dong-dien-bien-phuc-tap-1258542.html" rel="">Covid-19 </a>của Báo Thanh Niên trực tiếp lúc 19 giờ hằng ngày tại địa chỉ thanhnien.vn, kênh YouTube Báo Thanh Niên, Fanpage Facebook Báo Thanh Niên và trang Báo Thanh Niên trên mạng xã hội Lotus. </div></div></div>
                </article>
            </div>
            <nav aria-label="Page navigation" class="pag">
                <ul class="pagination">
                    <li class="active"><a href="/tin-tuc/tim-kiem/dGluIGNvdmlk/tin-covid.html" rel="1">1</a></li>
                    <li class=""><a href="/tin-tuc/tim-kiem/dGluIGNvdmlk/tin-covid-trang-2.html" rel="2">2</a></li>
                    <li class=""><a href="/tin-tuc/tim-kiem/dGluIGNvdmlk/tin-covid-trang-3.html" rel="3">3</a></li>
                </ul>
            </nav>
        </div>
    </div>	<!-- end search--result -->
</div>