@model BaoDienTu.Web.ViewModel.CreatePostViewModel

@{
    ViewData["Title"] = "WritePost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<h1>WritePost</h1>

<h4>CreatePostViewModel</h4>
<hr />





<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Thumbnail" class="control-label"></label>
            <input asp-for="Thumbnail" class="form-control" id="thumbnail" type="file" />
            <span asp-validation-for="Thumbnail" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="AuthorId" class="control-label"></label>
            <input asp-for="AuthorId" class="form-control" id="authorId" />
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="SubCategoryId" class="control-label"></label>
            <input asp-for="SubCategoryId" class="form-control" id="subCategoryId" />
            <span asp-validation-for="SubCategoryId" class="text-danger"></span>
        </div>
    </div>



</div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" id="title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea name="content" id="content"></textarea>
        <script>
            CKEDITOR.replace('content');
        </script>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
       @* <input type="submit" value="Save" class="btn btn-primary" />*@
        <button class="btn btn-primary" id="WritePost">Đăng</button>
    </div>


 <script src="~/lib/jquery/jquery.js"></script>

<script src="~/js/AuthorWritePost.js"></script>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
