@using BaoDienTu.Web.Models.Catagory
@{
    TempData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var sub = ViewBag.SubCategory != null ? ViewBag.SubCategory as CategoryView : new CategoryView();
}
<h6><a asp-controller="Category" asp-action="Index">@sub.CategoryName</a> &gt; SubCategory of @sub.CategoryName</h6>
<div class="row">
    <input hidden id="CategoryId" value="@sub.CategoryId" />

    <div class="col-12 mb-3 mt-2">
        <a href="javascript:void(0);" class="btn btn-outline-primary" onclick="sub.openAddEditSub()">Create</a>
    </div>
</div>
<table id="tbSub" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>SubCategoryId</th>
            <th>SubcategoryName</th>
            <th>CategoryId</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="addEditSub" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="frmAddEditSub">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New SubCategory</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <input hidden id="SubCategoryId" name="SubCategoryId" value="0">
                <div class="modal-body">
                    <div class="row">
                        <div class="row form-group">
                            <div class="col-3">
                                <label>Subcategory Name</label>
                            </div>
                            <div class="col-9">
                                <input type="text" id="SubCategoryName" class="form-control" data-rule-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row form-group">
                            <div class="col-5">
                                <label>Category</label>
                            </div>
                            <div class="col-7">
                                <select class="custom-select form-control" id="Category" name="Category" style="width:100%">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    <a href="javascript:;" class="btn btn-outline-primary" onclick="sub.save()">Save</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/subcategory.js" asp-append-version="true"></script>
}
