@*@using DAS.Domain.Resquests
    @using DAS.Domain.Resquests.Author
    @{
        TempData["Title"] = ViewBag.Title;
        var category = ViewBag.Categorys != null ? ViewBag.Categorys as Category : new Category();
        var author = ViewBag.Authors != null ? ViewBag.Authors as Author : new Author();*@
}

@*<h6><a href="/">Home</a> &gt; Employees of @category.CategoryName</h6>
    <div class="row">
        <input hidden id="CategoryId" value="@category.CategoryId" />
        <input hidden id="AuthorId" value="@author.AuthorId" />*@
<div class="col-12 mb-3 mt-2">
    <a href="javascript:void(0);" class="au-btn au-btn-icon au-btn--green au-btn--small" onclick="book.openAddEditBook()">
        <i class="zmdi zmdi-plus"></i>Create
    </a>
</div>
</div>
<table id="tbBooks" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>PostId</th>
            <th>Thumbnail</th>
            <th>Title </th>
            <th>DateCreated</th>
            <th>NumberOfComment</th>
            <th>View</th>
            <th>ShortContent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<div id="addEditBooks" class="modal fade" data-backdrop="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="frmAddEditEmployee">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Top10Views</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <input hidden id="PostId" name="PostId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="row form-group">
                                <div class="col-12">
                                    <img src="~/images/logo.png" id="Thumbnail" width="220" height="500" />
                                    <input type="file" id="FileUpload" class="custom-file" accept="image/*" onchange="post.uploadAvatar(this)" />

                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>Tiêu Đề</label>
                                </div>
                                <div class="col-9">
                                    <input type="text" id="Title" name="Title" class="form-control" data-rule-required="true">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>DateCreated</label>
                                </div>
                                <div class="col-9">
                                    <input type="date" id="DayTime" name="Release Date" class="form-control" data-rule-required="true">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>NumberOfComment</label>
                                </div>
                                <div class="col-9">
                                    <select class="custom-select" id="number" style="width:100%">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>View</label>
                                </div>
                                <div class="col-9">
                                    <select class="custom-select" id="view" style="width:100%">
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3">
                                    <label>ShortContent</label>
                                </div>
                                <div class="col-9">
                                    <select class="custom-select" id="content" name="ShortContent" style="width:100%">
                                    </select>
                                </div>
                            </div>

                            @*<div class="row form-group">
                                    <div class="col-3">
                                        <label>UserId</label>
                                    </div>
                                    <div class="col-9">
                                        <textarea type="text" id="User" class="md-textarea form-control" rows="4"></textarea>
                                    </div>
                                </div>*@
                            <div id="img"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    <a href="javascript:;" class="btn btn-danger" onclick="post.save()">Save</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/post.js" asp-append-version="true"></script>
}
